<section class="px-6 flex flex-col gap-2">
  <div class="w-fit self-end p-3 mb-6 bg-primary text-white font-primary rounded-lg text-sm font-semibold fill-white flex gap-2 items-center">
    <svg class='h-3' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
    <p>New workout</p>
  </div>
  <div class="rounded-lg bg-secondary border-primary border-2 p-4 font-primary text-sm relative">
  <div class="absolute bg-primary p-2 font-primary font-semibold pt-2.5 px-3 text-xs -top-4 -right-0.5 rounded-md">
    <p>TODAY</p>
  </div>
    <p class="font-semibold">LUNES</p>
    <p class="text-xs">0 EXERCISES</p>
  </div>
  <div class="rounded-lg bg-secondary border-primary p-4 font-primary text-sm">
    <p class="font-semibold">MARTES</p>
    <p class="text-xs">0 EXERCISES</p>
  </div>
  <div class="rounded-lg bg-secondary border-primary p-4 font-primary text-sm">
    <p class="font-semibold">JUEVES</p>
    <p class="text-xs">0 EXERCISES</p>
  </div>
  <div class="rounded-lg bg-secondary border-primary p-4 font-primary text-sm">
    <p class="font-semibold">VIERNES</p>
    <p class="text-xs">0 EXERCISES</p>
  </div>
  <div class="relative w-full h-56 overflow-hidden rounded-lg flex justify-center items-center">
    <img class="w-full" src="../../../assets/homeImg.jpg"/>
    <div class="absolute bg-primary p-2 font-primary font-semibold pt-2.5 px-3 text-lg bottom-2 right-2 rounded-md">
      <p>0 DAYS THIS WEEK</p>
    </div>
  </div>
</section>